body {
  font-family: 'Open Sans', sans-serif;
}

body.dark-mode a.theme-link {
  text-decoration: none;
}

body.dark-mode .social-list a {
  color: #FFF;
}

.blog-tags {
  list-style: none;
  margin: 1.5rem 0;
  text-align: center;
}

.blog-post-tags {
  margin: 1.5rem 0
}

.blog-tags li {
  display: inline-block;
  margin: 0 .7rem;
}

.blog-tags li a,
.blog-post-tags a {
  border-radius: .8rem;
  border: 1px solid #58B689;
  font-size: .9rem;
  line-height: 1.2rem; 
  padding: .2rem .8rem .3rem;
  transition: background .3s, color .3s;
  will-change: background, color;
}

.blog-post-tags a {
  margin: 0 .4rem 0 0;
}

.blog-tags li a:hover {
  background: #58B689;
  color: #FFF;
  text-decoration: none;
}